{% extends 'main/base.html' %}

{% block content %}

    <!--중앙 컨테이너 셀렉트박스, 무비리스트테이블, 페이지네이션 -->
    <div class="container">
        <!-- 검색폼 시작-->
        <form id="conditions">
            <!-- 셀렉트박스 시작-->
            <div class="row">
                <div class="col-3">
                    <select id="genre" name="genre" class="col-11 condition">
                        <option value="">All Genre</option>
                        <option value="Action">Action</option>
                        <option value="Drama">Drama</option>
                        <option value="Fantasy">Fantasy</option>
                    </select>
                </div>
                <div class="col-3">
                    <select id="timeFrame" name="timeFrame" class="col-11 condition">
                        <option value="">All Time</option>
                        <option value="last90days">last90days</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                    </select>
                </div>
                <div class="col-3">
                    <select id="sort" name="sort" class="col-11 condition">
                        <option value="">Release Date</option>
                        <option value="A_Z">A-Z</option>
                        <option value="Z_A">Z_A</option>
                        <option value="score">Score</option>
                    </select>
                </div>
                <div class="col-3">
                    <input id="title" name="title" class="col-12" placeholder="title">
                    <input id="page" name="page" value="1" type="hidden">
                </div>
            </div>
            <!--셀렉트박스 끝-->
        </form>
        <!-- 검색 폼 끝-->
        
        <!--무비리스트 테이블 시작-->
        <div class="row" style="justify-content: center; margin-top:20px;">
            <table id="movies" style="width:100%; margin:auto;">
                <tr>
					<th>Number</th><th>Score</th><th style="width: 30%;">Title</th><th>Genre</th><th>Release Date</th>
                </tr>
            {% load custom_tags %}
            {% number_plus_one movie_number as movieNum %}
            {% for movie in movie_list %}
                <tr>
                    <th>{{ movieNum }}</th><th>{{ movie.average_score|floatformat:'1' }}</th>
                        <th><a href="{% url 'movie:detail' movie.id %}">{{ movie.title }}</a></th>
                    <th>{{ movie.genre }}</th><th>{{ movie.release_date }}</th>
                </tr>
            {% number_plus_one movieNum as movieNum %}
            {% endfor %}
            </table>
        </div>
        <!--무비리스트 테이블 끝-->

        <!--페이지네이션 시작-->
        <div class="row" style="justify-content: center;  margin-top: 30px;">
            <ul id="pages" class="pagination pagination-sm">
                {% if first_page %}
                    <li class="page-item">
                        <a class="page-link" href="javascript:getList({{first_page}})">{{ first_page }}</a>
                    </li>
                    <c:if test="${startPage>2}">
                        <li class="page-item"><span class="page-link">...</span></li>
                    </c:if>
                {% endif %}
                {% for page in pages %}
                <li class="page-item">
                    <a class="page-link" href="javascript:getList({{ page }})">{{ page }}</a>
                </li>
                {% endfor %}
                {% if last_page %}
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:getList(${(lastPage-1)*10})">{{ last_page }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!--페이지네이션 끝-->
        <div>
            <a href="javascript:getCsv()">
                <button>Get MoviesCSV</button>
            </a>
        </div>
    </div>
</div>
<script>    
var search = function(oldKeyword, newKeyword){
    if(oldKeyword == newKeyword){
        return;
    }else{
        $.ajax({
            url:"/search",
            type:"GET",
            data:{"keyword" : newKeyword},
            datatype:"json",
            success: function(result){
                if(result.length > 0){
                    $("#searchResultContainer").css("display", "block");
                }
                var html = "";
                for(i=0; i<result.length; i++){
                    html += `<div class="search-result" onclick="location.href='/movie?movieId=${'${result[i].movieId}'}'"> 
                        ${'${result[i].title}'}</div>`
                }
                $("#searchResultContainer").html(html);
                if(newKeyword == ""){
                    $("#searchResultContainer").css("display", "none");
                }  
            }
        })   
    }
}
var getList = function(page){
    $("#page").val(page);
    $("#conditions").submit();
}
var getCsv = function(){
    $("#conditions").attr("action", "list/export_csv");
    $("#conditions").submit();
    $("#conditions").attr("action", "list");
}
    
$(document).ready(function(){
    $("#genre option[value='{{ genre}}']").attr("selected", "selected");
	$("#timeFrame option[value='{{ timeFrame }}']").attr("selected", "selected");
	$("#sort option[value='{{ sort }}']").attr("selected", "selected");
    $("#title").val("{{ title }}");
        
    var oldKeyword = "";
    
    $("#search").on("propertychange input", function(){
        var newKeyword = $(this).val();
        search(oldKeyword, newKeyword);
        oldKeyword = newKeyword;
    })
    $(".condition").change(function(){
        var page = $("#startNum").val();
        getList(page);
    })
        
})
</script>
{% endblock %}