{% extends 'main/base.html' %}

{% block content %}
    <div id="movie" class="container">
        <form method="post" action="{% url 'movie:post_write' %}">
            {% csrf_token %}
            <table>
                <tr><th><label>Title</label></th><th><input name="title"><br></th></tr>
                <tr><th><label>Genre</label></th><th><input name="genre"><br></th></tr>
                <tr><th><label>Starring</label></th><th><input name="starring"><br></th></tr>
                <tr><th><label>Summary</label></th><th><input name="summary"><br></th></tr>
                <tr><th><label>Director</label></th><th><input name="director"><br></th></tr>
                <tr><th><label>Release date</label></th><th><input id="datePicker" name="releaseDate"><br></th></tr>
                <tr><th><label>Runtime</label></th><th><input name="runtime"><br></th></tr>
            </table>
            <input type="submit" value="submit">
        </form>
    </div>

<script>
var edit = function(){
    var headHtml = `score: <span id="score">{{ movie.scoreAverage }}</span><br/><br>
            title: <span id="title"><input name="title" value="{{ movie.title }}"</span>`;
    var bodyHtml =`<br>
            Genre: <span id="genre"><input name="genre" value="{{ movie.genre }}"></span><br/><br>
            Starring: <span id="starring"><input name="starring" value="{{ movie.starring }}"></span><br/><br>
            Summary: <span id="summary"><input name="summary" value="{{ movie.summary }}"></span><br/><br>
            Director: <span id="director"><input name="director" value="{{ movie.director }}"></span><br/><br>
            Release date: <span id="releaseDate"><input name="release_date" id="datePicker" value="{{ movie.release_date }}"></span><br/><br>
            Runtime: <span id="runtime"><input name=""runtime" value="{{ movie.runtime }s}"></span><br>`;
    
    $('#movieHead').html(headHtml);
    $('#movieBody').html(bodyHtml);
    $('#submitButton').css('visibility', 'visible');
    $('#datePicker').datepicker({
		changeYear: true,
		changeMonth: true,
	  	dateFormat: "mm/dd/yy",
	  	showOn: "both",
		});
}
var deleteMovie = function(){
    if(confirm("sure?")){  
        $('#movieForm').submit();
    }
}
$(document).ready(function(){
})  
</script>
{% endblock %}
